* {
	margin: 0;
	padding: 0;
	/*default font*/
	font-family: "Baloo 2", cursive;
	font-size: 18px;
}

h1 {
	font-family: "Pacifico", cursive;
	font-size: 72px;
	color: #fbf3f2;
	background-color: #1c768f;
}

h2 {
	font-size: 36px;
	color: #032539;
	text-align: center;
}

nav {
	padding: 1rem;
	/*margin-bottom: 5px;*/
	border-bottom: 4px solid #fa991c;
	background-color: #032539;
	color: #fbf3f2;
}

nav .nav {
	margin: 2rem;
	display:  inline;
}

#intro {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #1c768f;
}

#intro button {
	background-color: #fa991c;
	font-weight: bold;
	border-radius: 30px;
	padding: 1rem;
}

#desc {
	color: #032539;
	font-weight: bold;
}

#categories {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2rem;
	align-content: center;
	background-color: #fa991c;
}

#categories h3{
	text-align: center;
	margin-bottom: .5rem;
	color: #fa991c;
	background-color: #032539;
}

#categories .item {
	display: inline-block;
	width: 19.5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	vertical-align: top;
	min-height: 300px;
}

.item p {
	color: #032539;
	font-size: .8rem;
	letter-spacing: .5px;
}
